*{
	box-sizing:border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    width: 1130px;
    margin: 0 auto;
}
                     /* HEADER */
.header{
    background: #333333;
	min-width: 1150px;
	min-height: 80px;
}

.header .wrapper{
    display: flex;
}

 .wrapper .firstt {
    display: flex;
    width: 55%;
    height: 80px;
    color: #cccccc;
	justify-content: space-between;
	text-transform: uppercase;
    align-items: center;    
}

.wrapper .firstt li a{
	text-decoration: none;
	color: #cccccc;
}

.firstt li{
    padding: 8px 10px;
    border-radius: 4px;
	font-size: 13px;
	cursor: pointer;
	border: 2px solid #333333;
	font-weight: 550;
}
.firstt li:first-child{
    border: 2px solid #33cc99;
}

.mod{
    width: 45%;
    height: 80px;
    align-items: center;
    display: flex;
}
                        /* BENNER */
.benner{
    background: url(../img/header.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
	min-width: 1150px;
	min-height: auto;
}

.benner .wrapper{
    height: 100%;
}
#label{
    font-size: 31px;
    color: white;
    text-transform: uppercase;
    width: 100%;
	padding-bottom: 30px;
	padding-top: 225px;
}

.logan{
    color: #cccccc;
    font-size: 16.5px;
    width: 60%;
	padding-bottom: 35px;
	line-height: 1.6;
}

#button{
	width: 100%;
	margin-bottom: 250px;
}

.button{
	background: none;
    border: 2px solid white;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    padding: 12px 25px;
    border-radius: 5px;	
}

#button button:nth-child(2){
    margin-left: 6px;
}

         /*ABOUT*/
.about{
    background: #ffffff;
	height:auto;
	padding-bottom: 70px;
    width: 100%;
	min-width: 1150px;
	border-bottom: 1px solid #cccccc;
	display: flex;
}

.logan1{
	margin-top: 84px;
	border-left: 10px solid #cccccc;
	padding: 0 15px;
	text-transform: uppercase;
	font-size: 31px;
	height: 34px;
	font-weight: 525;
}

.left{
	margin-top: 50px;
	width: 58%;
	height: auto;
}

.right{
	margin-top: 59px;
	width: 42%;
	height: auto;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

.black{
	color: #999999;
}

#second{
	margin-top: 23px;
	margin-bottom: 47px;
}

#firsticons{
	display: flex;
}

#firsticons a{
	width: 50px;
	height: 50px;
	margin-left: 1px;
	background: #cccccc;
	color: white;
	font-size: 25px;
	display:flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
}

.number{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #33cc99;	
	color: #ffffff;
	font-size: 18px;
}

.name{
	height: 15px;
	width: 88%;	
	text-transform: uppercase;
	font-size: 17px;
	padding: 0 18px;
}

.text{
	font-size: 16px;
	color: #999999;
	width: 100%;
	height: 30px;
	margin-top: 12px;
	text-transform: none;
	line-height: 1.5;
}

.margin{
	margin-top: 62px;
}

.pad{
	margin-left: 29px;
	width: 100%;
}

.ourteam{
	width: 100%;
	min-width: 1150px;
	background: #ffffff;
	height: 650px;
}

.team{
	display: flex;
	margin-top: 60px;
	justify-content: space-between;
}

.info{
	background: #cccccc;
	height: 75px;
	line-height: 1.5;
	padding: 15px 20px;
	font-size: 14px;

}
.info div{
	color: #999999;
}

.network {
	position: relative;
}

.network div{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.contact{
	width: 50px;
	height: 50px;
	margin: 0 1px;
	color: white;
	background: white;
	background: #333366;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cont a li i{
	color: white;
}

.cont a{
	width: 50px;
	height: 50px;
	margin: 0 1px;
	color: white;
	background: #333366;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.cont{
	display: none;
    list-style: none;
    align-items: center;
	justify-content: center;
}

.contact i{
	color: white;
	font-size: 18px;
}

						/* WORK */
.work{
	min-height: 900px;
	width: 100%;
	background: #3a454d;
	margin-top: 100px;
	min-width: 1150px;
}

#lovely{
	margin-top: 85px;
	color: white;
	padding-top: 90px;
	border: none;
	display: flex;
}

#lovely #silver{
	height: 35px;
	width: 10px;
	background: #666666;
}

#lov{
	padding-left: 10px;
}

#gridimg{
	display: grid;
	grid-template-columns: repeat(3,360px);
	grid-template-rows: 265px 265px;
	grid-gap: 30px;
	margin-top: 58px;
}

.container{
	position: relative;
}

.partner{
	position: absolute;
	top: 78%;
	height: 60px;
	width: 100%;
	color: white;
	background: #333333;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.plus{
	color: white;
	position: absolute;
	top: 0;
	font-size: 50px;
	left: 48%;
	top: 34%;
}

.plus a{
	text-decoration: none;
	color: white;
}

.lovely{
	margin-top: 0;
	color: white;
	border-left: 10px solid #666666;
}
.work .wrapper{
	padding-top: 85px;
}

.container{
	cursor: pointer;
}

.hov{
	display: none;
}

#show{
	background: none;
	margin: 0 auto;
	display: block;
	margin-top: 60px;
}


                        /* HOVERS */
.firstt li:hover{
	border: 2px solid #666666;
	transition: border .4s;
}

.firstt li:first-child:hover{
	background: #33cc99;
	border: 2px solid #33cc99;
	transition: background .3s;
}
#button button:hover{
	background: #33cc99;
	transition: background .3s;
}

#firsticons a:hover{
	background: #999999;
	transition: background .3s;
}

.member:hover .cont{
    display: flex;
}

.member:hover .info{
	background: #3a454d;
	color: white;
	transition: background .3s, color .3s;
}

.cont a:hover{
    background: #666666;
}

.member:hover img{
	opacity: 0.7;
	transition: opacity 2s;
}

.container:hover .hov{
	display: block;
}

#show:hover{
	background: #33cc99;
	transition: background .3s;
}

.container:hover{
	transform: scale(1.1);
	transition-delay: 0.2s;
	transition-duration: 0.5s;
}

.number:hover{
	transform: rotate(360deg);
	transition: 1s;
	transition-delay: 0.3s;
}



