@media screen and (max-width:760px){
    .wrapper{
        width: 320px;
        min-height: auto;
    }
    .header{
        min-width: 320px;
        min-height: auto;
    }
    .mod{
        width: 100%;
        justify-content: center;
    }
    .header .wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    .wrapper .firstt{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
    }
    .benner{
        min-width: 320px;
    }
    #label{
        text-align: center;
        padding-top: 50px;
    }
    .logan{
        width: 100%;
        text-align: center;
        padding: 0px 5px;
    }
    #button{
        margin-top: 30px;
        justify-content: center;
        display: flex;
        padding-bottom: 50px;
    }
    .slider{
        justify-content: center
    }
}